# Installation requirements for apt-mirror-updater.
#
# NB: Release 4.9.3 of beautifulsoup4 is the last version to support Python 2.

beautifulsoup4 >= 4.9.3
capturer >= 3.0
coloredlogs >= 10.0
executor >= 21.3
flufl.enum >= 4.0.1
humanfriendly >= 8.1
property-manager >= 3.0
six >= 1.10.0
stopit >= 1.1.1
